* {
  box-sizing: border-box;
}
body {
  font-family: Product Sans;
}
h1 {
  font-size: 45px;
  margin: 4px;
}
h1 span {
  font-weight: bolder;
}
header {
  position: fixed;
  left: 30px;
  top: 27px;
}
img {
  border-radius: 50%;
  width: 7%;
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  background-color: #dff9fb;
}

li {
  float: right;
}

li a {
  display: block;
  color: #222f3e;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

.btnH {
  background-color: #7ed6df;
}
.btnY {
  background-color: #ED4C67;
}
.btnP {
  background-color: #D980FA;
}
.btnA {
  background-color: #f1c40f;
}
h4 {
  font-size: 12px;
  text-align: left;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}